* {
    margin: 0;
    padding: 0;
  }
  
  body {
    
    background: #eff5d5e5;
    color: #1a293a;
    font-family: "Open Sans", sans-serif;
  }
  article{
    display: flex;
    flex-direction: column;
    min-height: 100%vh;
    align-items: stretch;
  }
  .main{
    display: flex;
    flex: 1;
  }
  .main p{
    font-size: 15px;
  }
  .main h1{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
  }
             /*Create new announcement*/
  .main-create{
    flex: 1;
    order: 1;
    margin: 2em;
  }
.header-create,.footer-create{
  flex-basis: 50px;
}
.header-create{
  height: 4.9vw;
}
.footer-create{
    margin-top: auto;
}
  main {
    flex: 1;
    order:1;
    margin: 2em;
  }
  aside{
    flex:0 0 20vw;
    order: 2;
    background-color: rgb(179, 179, 113);
    margin: 2em;
  }
  header{
    background-color: #b8dae2;
    height: 5vw;
  }
  footer{
    height: 2vw; 
     background-color: #b8dae2;
     
  }
 footer h3{
   text-align: center;
   padding-top: 10px;
 }
  header, footer, main, aside {
    padding: 1em;
  }
  h2 {
    
    color: rgb(23, 62, 100);
    font-family: "Sofia", cursive;
    font-size: 15px;
    font-weight: bold;
    font-size: 3.6em;
    text-align: center;
    margin-bottom: 20px;
  }
  .welcomeback{
    color: rgb(23, 62, 100);
    font-family: "Sofia", cursive;
    font-size: 3.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  .gallery{
    margin: 10px;
    float: left;
    width: 380px;
  }
  .gallery img{
   
    width: 100%;
    height: auto;
  }
  .reg{
    margin-top: 15px;
  }
  .reg a{
    color:#02395e ;
  }
  .reg a:hover{
    text-decoration: underline;
  }
  .btns{
    text-align: center;  
  }
  .nav-bar{
display: block;
  height:100px;
  padding:0 20px 0;
    background-color: #b8dae2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.logout h3{
  float: left;
margin-right: 30px;
}
  
 .logout a{
    padding: 20px 20px;
    background: #352e49;
      border: 0;
      border-radius: 10px;
      color: rgba(224, 26, 26, 0.925);
      font-weight: bold;
      font-size:large;
      cursor: pointer;
      transition: background 0.3s ease-in-out;
 }
 .logout a:hover{
   background-color: #68617a;
 }

  .btns a{
    padding: 25px 25px;
    background: #3a617a;
      border: 0;
      border-radius: 10px;
      color: #fff;
      font-weight: bold;
      font-size:xx-large;
      cursor: pointer;
      transition: background 0.3s ease-in-out;
    } 
    .btns a:hover{
      background-color: #4086b4;
    }
    .btn-link{
      margin-top: 90px;
    }
   
    .posting{
      
      padding-left: 70px;
    }
    .btn-post{
  width:100px ;
      margin: 50px 20px 0 0; 
    }
   
    .posting p{
      color: rgb(23, 62, 100);
      font-weight: bolder;
      font-size: 30px;
    }
     
    .new-announce{
      margin-top: -15px;
      padding-top: 55px;
    }
.text-area{
  font-size: 20px;
  width: 300px;
  height:100px;
}
    a {
      color: #435160;
      text-decoration: none;
    }

.flex-container{
  display: flex;
  flex-direction:column;
 overflow-y:auto;
  height: 600px;
}
.report{
  background-color: rgb(97, 123, 128);
  padding: 7px;
  float:right;
  margin:20px 10px 0 0;
  cursor: pointer;
}
.report:hover{
  background-color: rgb(10, 93, 160);
}
.report img{
  width:20px;
  height:20px;
}
.btn-view{
  cursor: pointer;
  color: #fff;
  background-color: rgb(1, 14, 70);
  width: 100px;
  height:35px;
  padding:10px;
  margin-top: 25px;
}
.btn-view:hover{
  background-color: rgb(10, 93, 160);
}
  .login {
    width: 350px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -175px;
  }
  input::placeholder{
    font-size: 16px;
  }
  
  input[type="text"], input[type="password"] {
    width: 350px;
    padding: 10px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #435160;
    outline: none;
    color: rgb(19, 19, 0);
    font-size: 16px;
  }
  input[type=checkbox] {
    display: none;
  }
  
  label {
    border-radius: 50%;
    background: transparent;
    content: "";
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 3px solid #01070e;
    display: block;
    position: absolute;
    margin-right: 10px;
    width: 8px;
    height: 8px;
  }
  
  #agree:checked ~ label[for=agree] {
    background: #cfd303;
  }
  
  input[type="submit"] {
    background: #02395e;
    border: 0;
    width: 350px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  input[type="submit"]:hover {
    background: #141136;
    animation-name: shake;
  }
  #anim-login{
        background: #02395e;
    border: 0;
    width: 350px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  #anim-login:hover{
    background: #373191;
    animation-name: shake;
  }
  .forgot {
    margin-top: 30px;
    display: block;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: rgb(13, 52, 90);
  }
  .forgot:hover {
    margin-top: 30px;
    display: block;
    
    text-align: center;
    font-weight: bold;
    color: rgb(50, 134, 224);
  }
  
  .agree {
    padding: 30px 0px;
    font-size: 12px;
    text-indent: 25px;
    line-height: 15px;
  }
  
  ::-webkit-input-placeholder {
    color: #435160;
    font-size: 12px;
  }
  
  .animated {
    animation-fill-mode: both;
    animation-duration: 1s;
  }
  
@keyframes shake {
    0%, 100% {
      transform: translateY(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateY(-10px);
    }
    20%, 40%, 60%, 80% {
      transform: translateY(10px);
    }
  }
  
 
 .tab-view{
  width: 80vw;
  display: block;
  margin: 40px auto;
  position: relative;
  
}

.tab-view .tab-item{
  float: left;
  display: block;
  
}

.tab-view .tab-item>input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tab-view .tab-item>label {
  width: 60px;
  height:15px;
  text-align: center;
  display: block;
  padding: 6px 21px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  color: #FFF;
  background: #4A83FD;
  
}

.tab-view .content {
  z-index: 0;/* or display: none; */
  overflow: hidden;
  width: 80vw;
  padding: 25px;
  position: absolute;
  top: 27px;
  left: 0;
  background: #59818b;
  color: rgb(207, 207, 250);
  opacity:0;
  transition: opacity 400ms ease-out;
}

.tab-view .content h1{
  text-align: center;
  color: rgb(4, 43, 82);
  padding-bottom: 25px;
}

.tab-view .announcement{
  padding-bottom: 30px;
 background-color:#f7f7ff;
 color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: #023441 2px groove;
 
}

.announcement h2{
  font-size: large;
  font-weight: bold;
  color: rgb(23, 128, 9);
}
.tab-view>.tab-item>[id^=".tab-item"]:checked + label {
  top: 0;
  background: #303030;
  color: #F5F5F5;
}

.tab-view>.tab-item>[id^="tab"]:checked ~ [id^="tab-content"] {
  
   z-index: 1;/* or display: block; */
  margin-top: 30px;
  opacity: 1;
  transition: opacity 400ms ease-out;
}


.norb{
  color: brown;
}
.add-announce{
  margin-left: 500px;
}
.announceTitle,.text-area::placeholder{
  font-size: 15px;
}
.wrapper{
  min-height: 100%;
  position: relative;
  margin-bottom: -40px;
}
.container{
 width: 100%;
  display: block;
}
.footer, .wrapper:after{
  height: 40px;
}
.footer{
  display: block;
  padding-top: 25px;
 margin-top: 50%;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #b8dae2;
  color: rgb(23, 62, 100);
  text-align: center;
}
.ft-add{
  padding-top: 25px;
  float: left;
  text-align: center;
 margin-top: 2%;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #b8dae2;
  color: rgb(23, 62, 100);
}
.ft-admin{
  padding-top: 25px;
  float: left;
  text-align: center;
 margin-top: 11%;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #b8dae2;
  color: rgb(23, 62, 100);
}