* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #eff5d5e5;
    color: #1a293a;
    font-family: "Open Sans", sans-serif;
  }

  /*HOMEPAGE*/
  article{
    display: flex;
    flex-direction: column;
    min-height: 100%vh;
    align-items: stretch;
  }
  .main{
    display: flex;
    flex: 1;
  }
  .main p{
    font-size: 15px;
  }
  .main h1{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
  }
             /*Create new announcement*/
  .main-create{
    flex: 1;
    order: 1;
    margin: 2em;
  }
.header-create,.footer-create{
  flex-basis: 50px;
}
.header-create{
  height: 1.9vw;
}
.footer-create{
  background-color: transparent;
  margin-top:8.4vw;
}
  main {
    flex: 1;
    order:1;
    margin: 2em;
  }
  aside{
    flex:0 0 20vw;
    order: 2;
    background-color: rgb(179, 179, 113);
    margin: 2em;
  }
  header{
    background-color:transparent;
    height: 3vw;
  }
  footer{
    height: 2vw; 
     background-color: #f0f8fa;
     
  }
 footer h3{
   text-align: center;
   padding-top: 10px;
 }
  header, footer, main, aside {
    padding: 1em;
  }
  h2 {
    
    color: rgb(36, 38, 39);
    font-family: "Sofia", cursive;
    font-size: 15px;
    font-weight: bold;
    font-size: 3.6em;
    text-align: center;
    margin-bottom: 20px;
  }
  .welcomeback{
    color: rgb(36, 38, 39);
    font-family: "Sofia", cursive;
    font-size: 3.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  .gallery{
    margin: 10px;
    float: left;
    width: 380px;
  }
  .gallery img{
   
    width: 100%;
    height: auto;
  }
  .reg{
    margin-top: 15px;
  }
  .reg a{
    font-weight: bold;
    color:#02395e ;
  }
  .reg a:hover{
    text-decoration: underline;
  }
  .btns{
    text-align: center;  
  }

  /*NAVIGATION BAR*/
  .nav-bar{
  height:80px;
  margin-top: 0px;
  padding:0 20px 0 0;
    background-color: #f0eee4;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.logout h3{
  float: left;
margin-right: 30px;
}
  
 .logout a{
   margin-left:5px;
    padding: 20px 20px;
    background: #252425;
      border: 0;
      border-radius: 10px;
      color: rgba(251, 255, 254, 0.925);
      font-weight: bold;
      font-size:large;
      cursor: pointer;
      transition: background 0.3s ease-in-out;
 }
 .logout a:hover{
   background-color: #535355;
 }

  .btns a{
    padding: 25px 25px;
    background: #749bb3;
      border: 0;
      border-radius: 10px;
      color: #fff;
      font-weight: bold;
      font-size:xx-large;
      cursor: pointer;
      transition: background 0.3s ease-in-out;
    } 
    .btns a:hover{
      background-color: #4086b4;
    }
    .btn-link{
      margin-top: 90px;
    }
   
    .posting{
      padding-left: 70px;
    }
    .latest{
     top:0;
    }
    .btn-post{
      width:100px ;
      margin: 50px 20px 0 0; 
    }
    .posting input[type="submit"]{
      font-size: 20px;
    }
   
    .posting p{
      color: rgb(63, 67, 71);
      font-weight: bolder;
      font-size: 30px;
    }
     
    .new-announce{
      margin-top: -15px;
      padding-top: 55px;
    }
.text-area{
  resize: none;
  font-size: 25px;
  width: 700px;
  height:170px;
  padding:8px;
}
    a {
      color: #435160;
      text-decoration: none;
    }

.flex-container{
  display: flex;
  flex-direction:column;
 overflow-y:auto;
  height: 100%;
}
.report{
  background-color: rgb(37, 72, 253);
  color:white;
  padding: 7px;
  float:left;
  margin:20px 10px 0 0;
  cursor: pointer;
}
.report:hover{
  background-color: rgb(40, 136, 165);
}
.report img{
  width:20px;
  height:20px;
}
.btn-view{
  float: left;
  cursor: pointer;
  color: #fff;
  background-color: rgb(37, 57, 253);
  width: 100px;
  height:40px;
  padding:10px;
  margin-top: 20px;
}
.btn-view:hover{
  background-color: rgb(40, 136, 165);
}
.buttons-v{
  float:right;
  margin-left:70px;
}

.main-div p{
  font-size: 30px;
  justify-content: center;
  text-align: center;
}
.overview-btn a:hover{ 
background-color: rgb(67, 67, 68);
}
.overview-btn a{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding:1.1vw;
  border-radius: 3vw;
 background-color: #222229;
 color: rgb(164, 185, 177);
font-size: 1.3vw;
  margin: 10px 0 0 52vw;
}
  .login {
    width: 350px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -175px;
  }
  input::placeholder{
    font-size: 16px;
    padding-left: 5px;
  }
  
  input[type="text"], input[type="password"] {
    width: 350px;
    padding-left: 15px;
    background: transparent;
    margin-top: 1vw;
    border: 0;
    border-bottom: 1px solid #435160;
    outline: none;
    color: rgb(19, 19, 0);
    font-size: 20px;
  }
  input[type=checkbox] {
    display: none;
  }
  
  label {

    background: transparent;
    content: "";
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 3px solid #01070e;
    display: block;
    position: absolute;
    margin-right: 10px;
    width: 8px;
    height: 8px;
  }
  
  #agree:checked ~ label[for=agree] {
    background: #cfd303;
  }
 
  input[type="submit"] {
    background: #1a1818;
    border: 0;
    width: 350px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  input[type="submit"]:hover {
    background: #313133;
    animation-name: shake;
  }

  /*ANIMATION LOGIN AND SIGNUP PAGES*/
  #anim-login{
    background: #191a1b;
    border: 0;
    width: 350px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    margin-top: 2vw;
  }
  #anim-login:hover{
    background: #363638;
   
  }
  .forgot {
    margin-top: 30px;
    display: block;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: rgb(13, 52, 90);
  }
  .forgot:hover {
    margin-top: 30px;
    display: block;
    
    text-align: center;
    font-weight: bold;
    color: rgb(50, 134, 224);
  }
  
  .agree {
    padding: 30px 0px;
    font-size: 12px;
    text-indent: 25px;
    line-height: 15px;
  }
  
  ::-webkit-input-placeholder {
    color: #435160;
    font-size: 15px;
  }
  
  .animated {
    animation-fill-mode: both;
    animation-duration: 1s;
  }
  

  
 /* Tabs content styling*/
 .tab-view{
  width: 80vw;
  display: block;
  margin: 15px auto;
  position: relative;
}

.tab-view .tab-item{
  float: left;
  display: block;
  
}

.tab-view .tab-item>input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tab-view .tab-item>label {
  width: 65px;
  height:15px;
  text-align: center;
  display: block;
  padding: 6px 21px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  color: rgb(7, 7, 7);
  background: rgb(238, 245, 245); 
}

.tab-view .content {
  height: 43vw;border:1px solid black;
  z-index: 0;/* or display: none; */
  overflow: hidden;
  width: 75vw;
  padding: 25px;
  position: absolute;
  top: 27px;
  left: 0;
  background: #d8dbdb;
  color: rgb(11, 11, 12);
  opacity:0;
  transition: opacity 400ms ease-out;
}
.tab-switch:checked + .tab-label{
  background-color: #4f4b55;
  color:#fff;
}  

.tab-view .content h1{
  text-align: center;
  color: rgb(27, 30, 32);
  padding-bottom: 25px;
}

.tab-view .announcement{
  padding-bottom: 30px;
 background-color:#f7f7ff;
 color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: #023441 2px groove;
 
}

.announcement h2{
  font-size: 2.3vw;
  font-weight: bold;
  padding-top: 15px;
}
.announcement p{
  text-align: left;
  padding:0 8vw;
  font-size: 1.5vw;
}

.view-home{
 margin-top: 2vw;
  padding:0 0 0 37vw;
}
.view-home a{
  font-size: 1.5vw;
color:#3333ff
}
.view-home a:hover{
  text-decoration: underline;
}
.tab-view>.tab-item>[id^=".tab-item"]:checked + label {
  
  top: 0;
  background: #303030;
  color: #F5F5F5;
}

.tab-view>.tab-item>[id^="tab"]:checked ~ [id^="tab-content"] {
  
   z-index: 1;/* or display: block; */
  margin-top: 30px;
  opacity: 1;
  transition: opacity 400ms ease-out;
}
/* END OF TABS STYLING*/

/*ADD ANNOUNCEMENT */
.norb{
  color: brown;
}
.add-announce{
  margin-left: 500px;
}
.announceTitle,.text-area::placeholder{
  font-size: 15px;
}
.wrapper{
  min-height: 100%;
  position: relative;
  margin-bottom: -40px;
}
.container{
 width: 100%;
  display: block;
}

/*FOOTER DESIGN*/
.footer, .wrapper:after{
  height: 40px;
}
.footer{
  display: block;
  padding-top: 25px;
 margin-top: 50%;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  color: rgb(34, 33, 33);
  text-align: center;
}
.ft-add{
  padding-top: 25px;
  float: left;
  text-align: center;
 margin-top: 2%;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #b8dae2;
  color: rgb(23, 62, 100);
}
.ft-admin{
  padding-top: 25px;
  position:fixed;

  float: left;
  text-align: center;
 /*margin-top: 11%;*/
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #b8dae2;
  color: rgb(23, 62, 100);
}

.main-create img{
float: left;
}
.main-create .announce-text p{
  font-size: 15vw;
  float: right;
 text-align: center;
 width: 1vw;
}
